body {
  background-color: black;
  padding-top: -5px;
  padding-right: -30px;
  padding-bottom: -50px;
  padding-left: -80px;

}
html {
	height: 100%;
	width: 100%;
}

.title {
	font-family: "ink free";
	font-size: 60px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;

}

.pg1{
	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;

}

.pg2 {
	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;
}

.pg3 {
	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;
}

.pg4 {

	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	align-items: center;
	margin: 4em;
}


.background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}

.button {
font-size: 30px;
border-radius: 12px;
transition-duration: 0.4s;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
align-items: center;
text-align: center;
text-decoration-color: black;


}
.button:hover {
  background-color: red;
  color: black;
}
 
.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
