body {
  background-color: black;
  padding-top: -5px;
  padding-right: -30px;
  padding-bottom: -50px;
  padding-left: -80px;

}
html {
	height: 100%;
	width: 100%;
}

.title {
	font-family: "ink free";
	font-size: 60px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;

}

.pg1{
	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;

}

.pg2 {
	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;
}

.pg3 {
	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;
}

.pg4 {

	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	margin: 4em;
}


.background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}



  
