body {
  background-color: black;
  padding-top: -5px;
  padding-right: -30px;
  padding-bottom: -50px;
  padding-left: -80px;

}
html {
	height: 100%;
	width: 100%;
}

.title {
	font-family: "ink free";
	font-size: 60px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	

}

.pg1, .pg2, .pg3, .pg4{
	font-family: "ink free";
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 5px red;
	text-align: left;
	
}


.background {
  display: block;
  width: 30%;
  float: left;

}

.btn {
	text-align: center;
}
.button {
font-size: 30px;
border-radius: 12px;
transition-duration: 0.4s;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: transparent;
color: red;


}
.button:hover {
  background-color: red;
  color: black;
}
.headline {
	font-family:"ink free";
	font-size:30px;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	align-items: center;
	margin: 4em;
	color: white;
}

.homepage {
	color: red;
}